<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('asset_/bootstrap.min.css') }}">
    <script src="{{ asset('asset_/bootstrap.min.js') }}"></script>
</head>
<body>
    <!-- ... -->
    {% include 'tableau.html.twig' %}
    <!-- ... -->
</body>
</html>